

<div class="col-md-6">
    <h2 class="text-center">Add Car</h2>
    <form>
      <div class="form-group">
        <label for="modelName">modelName:</label>
        <input type="modelName" [(ngModel)]="user.modelName" placeholder="modelName" name="modelName" class="form-control" id="modelName">
      </div>

      <div class="form-group">
        <label for="brand">brand:</label>
        <input [(ngModel)]="user.brand" placeholder="brand" name="brand" class="form-control" id="brand">
      </div>

      <div class="form-group">
        <label for="engineCapacity">engineCapacity</label>
        <input [(ngModel)]="user.engineCapacity" placeholder="engineCapacity" name="engineCapacity" class="form-control" id="engineCapacity">
      </div>

      <div class="form-group">
        <label for="fuel">fuel:</label>
        <input type="fuel" [(ngModel)]="user.fuel" placeholder="fuel" name="fuel" class="form-control" id="fuel">
      </div>

      <div class="form-group">
        <label for="noOfSeats">noOfSeats:</label>
        <input [(ngModel)]="user.noOfSeats" placeholder="noOfSeats" name="noOfSeats" class="form-control" id="noOfSeats">
      </div>

      <div class="form-group">
        <label for="colour">colour</label>
        <input [(ngModel)]="user.colour" placeholder="colour" name="colour" class="form-control" id="colour">
      </div>
      <div class="form-group">
        <label for="year">year:</label>
        <input type="year" [(ngModel)]="user.year" placeholder="year" name="year" class="form-control" id="year">
      </div>

      <div class="form-group">
        <label for="kmsDriven">kmsDriven:</label>
        <input [(ngModel)]="user.kmsDriven" placeholder="kmsDriven" name="kmsDriven" class="form-control" id="kmsDriven">
      </div>

      
      <button (click)="addcar(modelName, brand, engineCapacity,fuel,noOfSeats,colour,year,kmsDriven)" routerLink='/cars'
        
        class="btn btn-primary">
        Add Car
     </button>

    </form>
    </div>